* {
  box-sizing: border-box;
  color: #2B283A;
  font-family: "poppins",sans-serif;
  padding: 0;
  margin: 0;
}
.blogs-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

nav {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #F55A5A;
    margin-bottom: 30px;
    
}
 .nav--heading{
    color: #fff;
    margin: 20px 7px;
    text-align: center;
}

.blog--entry {
    display:flex;
    align-content: center;
    min-width: 470px;
    margin:  40px;
    
}
.blog--img { 
    width: 125px;
    border-radius: 5px;
    
}

.blog--desc{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px;
    width: 350px;
    
}


.blog--location{
font-weight: 300;
font-size: 16px;
letter-spacing: 0.17em;
margin-left: 5px;
}

.blog--link{  
    font-size: 13px;
    text-decoration-line: underline;
    color: #918E9B;
    margin: 0px 12px;
}

.blog--title {
    width: 326px;
    font-size: 35px;
    margin: 0;
}

.blog--date {
    font-size: 12px;
    margin: 10px 0px;
    
}

.blog--description {
    font-size: 12px;
    line-height: 150%;
}